<div class="row">
  <% @upload.photos.each do |photo| %>
    <div class="col-md-4 col-sm-12">
      <div class="p-4 mb-2 bg-light border rounded border-success">
        <div class="d-flex justify-content-end mb-3">
          <%= cl_image_tag photo.key, height: 120, class: "d-block" %>
        </div>
        <div class="d-flex justify-content-between align-items-end mb-3">

        <p>Emotions in detected face </p>
        <%= cl_image_tag photo.key, crop: :thumb,
                            gravity: :face,
                            height: 64,
                            width: 64,
                            effect: :grayscale  %>

        </div>
          <% @upload.emotions[photo.blob_id.to_s].each do |emotion, percentage| %>

             <span class="w-50"><%= number_to_percentage(percentage * 100, precision: 10) %> </span>
             <span class="text-success"><%= emotion.capitalize %> </span><br>
          <% end %>
        <p>
      </div>
    </div>
  <% end %>
</div>


<div class="d-flex justify-content-end mt-4">
<%= link_to "See all images", uploads_path, class: "btn btn-outline-success"  %>
 </div>
